# POSTGRESQL DATABASE
DATABASE_URL="postgresql://user:pass@host:5432/dbname?schema=public" # postgres database location
BUBBLY_URL="YOUR_ACCESS_URL"

# AUTHENTICATION
NEXTAUTH_SECRET="replace" # replace with your own secret
NEXTAUTH_URL="http://host:port" # your server url
GOOGLE_CLIENT_ID="replace" # google cloud oauth id
GOOGLE_CLIENT_SECRET="replace" # google cloud client secret
RESEND_API_KEY="replace" # your resend.com api token for emails

# S3 BUCKET
MINIO_REGION="au-east-1" # your server region, for debugging
MINIO_USER="user" # minio username
MINIO_PASSWORD="pass" # minio user password
MINIO_URL="http://host:port" # api url from minio (p: 9000)
MINIO_BUCKET="bucketname" # your bucket name from minio

# S3 DIRECTORY
PROFILE_IMAGES="profile_images" # directory name
BUBBLER_IMAGES="bubbler_images" # directory name

# APIS
BUBBLY_API_TOKEN="your_own_api_token_change_me" # api token for you to interact with bubbly apis

# MODERATION LOGGING
DISCORD_WEBHOOK_URL="your_hook_url"

# DEBUG
BUBBLY_APP_VERSION="2.0.0" # do not touch